.useroptionclick {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}
.useroptionclick button {
  background-color: #386dbd;
  padding-left: 6%;
  width: 50vw;
  border: none;
  font-size: 20px;
  height: 4rem;
  font-weight: 700;
  color: white;
}
.useroptionclick button:hover {
  cursor: pointer;
}
.useroptionclick button:focus,
.useroptionclick button:active {
  background-color: #214881;
}
.txtaaassa .label-2-su p {
    color: #d1a513;
  }
  .txtaaassa .label-2-su {
    color: gray;
    display: flex;
    align-items: center;
}

.container-Perfiluser {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.container_datos {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.container_datos-2{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
.container_datos-2 img {
  display: flex;
  margin-bottom: 10px;
  width: 100px;
}

.container_datos img {
  margin-bottom: 10px;
  width: 100px;
}
.renderUser {
  width: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
}
.reg-avata2 {
  display: flex;
}

.reg-avata2 input {
  visibility: inherit;
  height: 100px;
  width: 100px;
  position: relative;
  right: 100px;
  background-color: transparent;
  color: transparent;
  border: none;
}
.renderUser div {
  display: flex;
  font-size: 1.1em;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(122, 122, 122);
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.reg-avata2 input::file-selector-button {
  display: none;
}

.reg-avata2 input:hover {
  cursor: pointer;
}
.labelC {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(30, 54, 7);
  color: white;
  height: 40px;
  width: 200px;
}
.labelC:hover {
  cursor: pointer;
  background-color: rgb(14, 26, 3);
}
.buttonContraseña {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.renderUser input {
  height: 30px;
  text-align: start;
  font-size: 1.1em;
  background-color: transparent;
  border: none;
  width: 250px;
}
.renderUser label {
  text-align: center;
}
.renderUser button {
  width: 100%;
}

.optionsUser {
  justify-content: center;
  display: flex;
}
