.arriba-form {
  display: flex;
  width: 100%;
}
.arriba-form button {
  background-color: #386dbd;
  padding-left: 6%;
  width: 100%;
  border: none;
  font-size: 20px;
  height: 4rem;
  font-weight: 700;
  color: white;
}
.arriba-form button:hover {
  cursor: pointer;
}
.arriba-form button:focus,
.arriba-form button:active {
  background-color: #214881;
}
.volver-form {
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 30px;
  height: 2.5vw;
  width: 5vw;
  margin-right: 2rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: #23477c;
  border: none;
  transition: 0.3s;
  color: white;
  font-family: "Phudu", cursive;
}
.volver-form:hover {
  background-color: #163057;
}
.cont-form-2 {
  color: rgb(5, 5, 5);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}
.bodyDark .cont-form-2 {
  color: rgb(255, 255, 255);

}
.cont-form-2 form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  background-color: white;
  color: black;
  height: 20rem;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.cont-form-2 form .error {
  font-size: 13px;
  width: 15rem;
  color: red;
  text-align: center;
  margin-top: 1rem;
}
.cont-form-2 form div {
  height: 5rem;
}
.cont-form-2 form button {
  width: 7rem;
  margin-top: 1rem;
  border: none;
  background-color: #006400;
  height: 2rem;
  border-radius: 10px;
  color: white;
  font-family: "Phudu", cursive;
  font-size: 15px;
}
.cont-form-2 form button:hover {
  cursor: pointer;
  background-color: #003f00;
}
.cont-form-2 form input {
  width: 10rem;
  margin-left: 1rem;
  border: none;
  border-bottom: 1px solid gray;
}
.cont-form-2 form select {
  width: 8.8rem;
  margin-left: 1rem;
  border: none;
  border-bottom: 1px solid gray;
}
.cont-form-2 form select:hover {
  cursor: pointer;
}
.container-form-gr {
  display: flex;
  flex-direction: column;
}
.container-form-gr a{
  width: 100px;
}
.cont-form-2 h2 {
  color: rgb(0, 0, 0);
  margin-bottom: 6rem;
}
.bodyDark .cont-form-2 h2 {
  color: rgb(255, 255, 255);

}
.text-info-form {
  width: 10rem;
  margin-left: 3rem;
}
.txt-form-ayu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contGral {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  height: 90vh;
}
.contGral form {
  background-color: white;
  width: 30rem;
  height: 38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.contGral form div {
  margin-top: 2rem;
}
.contGral form button {
  width: 7rem;
  margin-top: 1rem;
  border: none;
  background-color: #006400;
  height: 2rem;
  border-radius: 10px;
  color: white;
  font-family: "Phudu", cursive;
  font-size: 15px;
}
.contGral form button:hover {
  cursor: pointer;
  background-color: #003f00;
}
.x23-a {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.x23-a .input-img-tas {
  width: 15rem;
}
.x23-a img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 10rem;
}
.x23-a input {
  width: 10rem;
  margin-left: 1rem;
  border: none;
  border-bottom: 1px solid gray;
}
.bodyDark .cont-form-3 h2{
  color: white;
}
.x23-a select {
  width: 8.8rem;
  margin-left: 1rem;
  border: none;
  border-bottom: 1px solid gray;
}
.x23-a select:hover {
  cursor: pointer;
}
.reg-image-formz {
  display: flex;
  flex-direction: column;
}
.flex-asd-f {
  display: flex;
}
.flex-asd-f p {
  color: rgb(0, 0, 0);
  width: 20rem;
  margin-left: 3rem;
}
.bodyDark .flex-asd-f p {
  color: rgb(255, 255, 255);

}
.mer-prod-mi-la-img p {
  color: black;
  font-size: 15px;
  margin: 0;
}
.mer-prod-mi-la-img {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 15px;
  margin: 0;
}
