body {
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.landing-container {
  scroll-snap-type: y mandatory;
  height: 100vh;
}
.landing-0 {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #fed5da;
  scroll-snap-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-0 h2 {
  font-size: 40px;
  margin: 0;
}
.landing-0 p {
  font-size: 20px;
  margin: 0;
}
.landing-0 button {
  margin-top: 4rem;
  color: white;
  text-decoration: none;
  width: 8rem;
  height: 3rem;
  border: none;
  border-radius: 100px;
  background-color: #b64f8e;
  font-size: large;
}
.landing-0 button:hover {
  cursor: pointer;
  background-color: #883b6b;
}
.landing-0 img {
  width: 50rem;
}
.foto-landing-3 {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #a29ded;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foto-landing-3 h2 {
  font-size: 40px;
  margin: 0;
}
.foto-landing-3 p {
  font-size: 20px;
  margin: 0;
}
.foto-landing-3 button {
  margin-top: 4rem;
  color: white;
  text-decoration: none;
  width: 8rem;
  height: 3rem;
  border: none;
  border-radius: 100px;
  background-color: #733586;
  font-size: large;
}
.foto-landing-3 button:hover {
  cursor: pointer;
  background-color: #5f2555;
}
.foto-landing-3 img {
  width: 30rem;
}
#landing-1 {
  height: 100vh;
  width: 100vw;
  background-image: url(https://res.cloudinary.com/dzuasgy3l/image/upload/v1678570964/zvx0piodwwd2brueompl.avif);
}
#landing-1 h2 {
  font-size: 40px;
  margin: 0;
}
#landing-1 p {
  font-size: 20px;
  margin: 0;
}
#landing-1 button {
  margin-top: 4rem;
  color: white;
  text-decoration: none;
  width: 8rem;
  height: 3rem;
  border: none;
  border-radius: 100px;
  background-color: #4282a7;
  font-size: large;
}
#landing-1 button:hover {
  cursor: pointer;
  background-color: #336683;
}
#landing-2 {
  scroll-snap-align: center;
  height: 100vh;
  width: 100vw;
}
#landing-2 img {
  width: 18%;
}
#landing-2 h2 {
  font-size: 40px;
  margin: 0;
}
#landing-2 p {
  font-size: 20px;
  margin: 0;
}
#landing-2 button {
  margin-top: 4rem;
  color: white;
  text-decoration: none;
  width: 8rem;
  height: 3rem;
  border: none;
  border-radius: 100px;
  background-color: #7c3c7e;
  font-size: large;
}
#landing-2 button:hover {
  cursor: pointer;
  background-color: #582650;
}
.foto-landing-1 {
  text-align: center;
  background-color: #dfecfe;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
}
.foto-landing-1 img {
  margin-left: 3rem;
  width: 35%;
}
.img-home-cart {
  width: 100vw;
  height: 300px;
}
.slider-home {
  background-image: url(https://res.cloudinary.com/dzuasgy3l/image/upload/v1678851530/jnvokhcbwytwbxw4pgco.png);
  background-size: cover;
  width: 100vw;
  height: 100%;
  animation: animate 20s ease 0.1s infinite;
}
@keyframes animate {
  25% {
    background-image: url(https://res.cloudinary.com/dzuasgy3l/image/upload/v1678851530/qv4vdzkdgpkfirj4p49o.png);
    background-size: cover;
  }
  50% {
    background-image: url(https://res.cloudinary.com/dzuasgy3l/image/upload/v1678851530/m9nyct3jtxtc8jnilkq2.png);
    background-size: cover;
  }
  75% {
    background-image: url(https://res.cloudinary.com/dzuasgy3l/image/upload/v1678851530/bipstgfnbg4om9nlytb9.png);
    background-size: cover;
  }
  100% {
    background-image: url(https://res.cloudinary.com/dzuasgy3l/image/upload/v1678851530/jnvokhcbwytwbxw4pgco.png);
    background-size: cover;
  }
}
.foto-landing-2 {
  text-align: center;
  background-color: #f3e5fe;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
}
.foto-landing-2 img {
  margin-right: 12%;
  width: 22%;
}
