.navbar {
  background-color: rgb(10 10 10);
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
}

.navbar img {
  cursor: pointer;
}

.navbar a {
  color: azure;
  text-decoration: none;
  font-size: 2rem;
  margin: auto;
  padding: 5rem;
}
body {
  margin: 0;
}

.modal {
  width: auto;
}

.modal-header .btn-close {
  margin-right: 0.8rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  background-color: var(--white);
}

.modal.fade .modal-dialog {
  transition: transform 0.4s ease-out !important;
}

.slide-in-right {
  animation: slide-in-right 0.8s forwards;
}

@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.modal-header {
  padding: 0;
  background-color: rgb(10 10 10);
}

.modal-content {
  width: auto;
  font-size: 0.9rem;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 0.521);
  font-weight: 300;
  padding-bottom: 0.7rem;
}

.text a {
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

.msg {
  margin-left: 0.5rem;
}
.nav-kis {
  display: flex;
}

.navButton {
  height: 2vw;
  width: 5;
  border-radius: 10px;
  cursor: pointer;
  background-color: #0f7e53;
  border: none;
  transition: 0.3s;
  color: white;
  font-family: "Phudu", cursive;
  margin: 0;
}


.navButton:hover {
  background-color:  #094730;
}

.account-login {
  display: flex;
  font-size: 4.5rem;
  color: var(--white);
  margin-right: 0rem;
  margin-left: 1.5rem;
}

.modal-line a {
  text-decoration: none;
  color: var(--eerie-black);
  font-size: 0.95rem;
  font-weight: 400;
}

.modal-line {
  margin: 1.5rem 0rem;
}

#titlesub-menu-modal a {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--davys-gray);
}

#whatsmodal {
  font-size: 1.1rem;
  color: var(--kelly-green);
}

.sidebar-dropdown-item {
  padding: 0.8rem 1rem;
}

.sidebar-dropdown-menu {
  padding-left: 0;
  list-style: none;
}

.shop-bag {
  font-size: 3rem;
  color: var(--white);
}

.text-icon {
  padding-bottom: 0.5rem;
  padding-left: 0.3rem;
}

#iconsperson {
  align-items: center;
  display: flex;
  color: var(--white);
  font-size: 1rem;
  font-weight: 300;
  margin-right: 2.2rem;
  cursor: pointer;
}

#iconscart {
  align-items: center;
  display: flex;
  color: var(--white);
  font-size: 1rem;
  font-weight: 200;
  margin-right: 2.2rem;
  cursor: pointer;
}

.notification {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-number {
  color: white;
  font-size: 0.8rem;
}

#formbusca {
  color: var(--davys-gray);
  opacity: 0.8;
  position: relative;
  right: 1.5rem;
  top: 35%;
  transform: translateY(-50%);
}

.me-2 {
  margin-right: 0rem !important;
}

.busca {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Phudu", cursive;
}

.navigation-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.navigation-menu.fixed {
  position: fixed;
  top: 91px;
  left: 0;
  width: 100%;
  z-index: 800;
}

#navbar2.color {
  border-top: 1px solid var(--onyx);
}

.menu-category-list {
  position: relative;
  display: flex;
  gap: 4rem;
  margin: 0.7rem;
  list-style: none;
}

.menu-category span {
  display: flex;
  align-items: center;
}

.menu-category :hover #Fonesdown {
  rotate: -180deg;
  transition: 0.3s;
}

.menu-category :hover #departamentosdown {
  rotate: -180deg;
  transition: 0.3s;
}

.menu-category :hover #Smartphonesown {
  rotate: -180deg;
  transition: 0.3s;
}

.menu-category :hover #Iphonesdown {
  rotate: -180deg;
  transition: 0.3s;
}

#Smartwatch,
#Smartphone,
#Fones,
#Iphones,
#iconpc {
  font-size: 1.5rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

#Fonesdown,
#departamentosdown,
#Smartphonesown,
#Iphonesdown {
  color: var(--white);
  margin-left: 0.4rem;
}

#Todosdepartamentos-icon {
  font-size: 1.55rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

.menu-category {
  margin: 0.1rem;
  color: var(--white);
}

.menu-category:hover a {
  color: var(--white);
}

.dropdown-list {
  position: absolute;
  width: 17rem;
  line-height: 2;
  background: var(--white);
  padding: 0.8rem 0;
  transform: translateY(45px);
  visibility: hidden;
  z-index: 1;
  border-radius: 5px;
}

.menu-category-list .menu-category:hover > .dropdown-list {
  transform: translateY(10%);
  opacity: 1;
  visibility: visible;
}

.dropdown-list .dropdown-item a {
  text-transform: capitalize;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: var(--eerie-black);
  cursor: pointer;
  font-weight: 500;
}

.menu-title {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  list-style: none;
  font-weight: 400;
}

.menu-category-list button {
  background-color: var(--orange);
  cursor: pointer;
  font-size: 1rem;
  border: none;
  color: var(--white);
  font-weight: 400;
  height: 3rem;
  width: 10rem;
  border-radius: 0.2rem !important;
}
.btnClose {
  color: whitesmoke;
  background-color: rgb(210, 21, 21);
  padding: auto;
}
.btn-primary {
  --bs-btn-hover-bg: var(--denim-blue);
}

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: #fff;
}

.icon-cart:hover {
  cursor: pointer;
}
.profileImg {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #000000;
  object-fit: contain;
}

.logo-Container img {
  width: 100%;
}

.container-icon {
  position: relative;
}
.count-products {
  position: absolute;
  top: 55%;
  right: 0;

  background-color: #000;
  color: #fff;
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#contador-productos {
  font-size: 12px;
}

.container-cart-products {
  overflow-y: scroll;
  position: fixed;
  height: auto;
  max-height: 75vh;
  background-color: #fff;
  width: 25vw;
  z-index: 10000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.hidden-cart {
  display: none;
}

#navbar1 {
  position: sticky;
  height: 100px;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #272525;
}

.form-control {
  width: 80%;
  border-radius: 10px;
  height: 3rem;
  text-indent: 10px;
  font-family: "Phudu", cursive;
}
.form-control:focus-visible {
  outline: none;
}

.searchbar-container {
  width: 40vw;
}

.login-Container {
  width: 52.5vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.logo-Container {
  width: 2vw;
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 2rem;
}

.user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30%;
  width: 8rem;
}
.user-container:hover{
  cursor: pointer;
}

.name {
  color: white !important;
  margin-left: 1rem;
  margin-bottom: 0;
  margin: 0 !important;
}

.button-light {
  background-image: url("../../../public/moon.svg");
  background-size: cover;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  margin-right: 2rem;
  cursor: pointer;
  background-color: #23477c;
  border: none;
  transition: 0.3s;
}

.button-dark {
  background-image: url("../../../public/sun.svg");
  background-size: cover;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  margin-right: 2rem;
  cursor: pointer;
  background-color: #23477c;
  border: none;
  transition: 0.3s;
}
