
svg {
    width: 150px;
    transform-origin: center;
    animation: rotate4 1s linear infinite;
   }
   
   circle {
    fill: none;
    stroke: hsl(0, 0%, 0%);
    stroke-width: 3;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   .bodyDark circle{
    stroke: hsl(0, 0%, 100%);
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }

   .loaderCenter{
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
   }

