.img-market-f {
  width: 10%;
}
.container-market-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-prod-market {
  justify-content: center;
  align-items: center;
  display: grid;
  height: 40rem;
  grid-template-columns: auto auto auto auto auto;
}
.banner-sup {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #0e0e0e;
}
.banner-sup h1 {
  font-size: 10rem;
  margin: 0;
  margin-right: 3rem;
}
.leaflet-container {
  width: 100%;
  height: 23rem;
}
.txt-sup-of {
  display: flex;
  color: #000000;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 3px solid #9e9e9e;
}
.txt-sup-of h2 {
  margin-left: 2rem;
}
.asdkjkh {
  color: #000000;
}
.bodyDark .asdkjkh {
  color: #ffffff;
}
.bodyDark .txt-sup-of {
  color: #ffffff;
  border-bottom: 3px solid #9e9e9e;
}
.cont-coment-super {
  margin-top: 3rem;
  color: white;
  margin-bottom: 10rem;
  width: 40%;
}
.input-com-su {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: black;
  border-radius: 4px;
  margin-bottom: 3rem;
}
.input-com-su button {
  width: 6rem;
  height: 2rem;
  margin-right: 1.5rem;
  background-color: #2889d8;
  border: none;
  color: #000000;
  border-radius: 7px;
  margin-bottom: 1rem;
  font-weight: 700;
  font-family: "Phudu", cursive;
}
.input-com-su button:hover {
  cursor: pointer;
  background-color: #184e7a;
}
.input-com-su textarea {
  width: 90%;
  height: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.input-com-su input[type="radio"] {
  display: none;
}
.input-com-su .plla label:hover,
.input-com-su .plla label:hover ~ label {
  color: orange;
  cursor: pointer;
}
.input-com-su input[type="radio"]:checked ~ label {
  color: orange;
}
.comentario-superm {
  color: black;
}
.cont-com-sup-a {
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
  width: 100%;
}
.cont-com-sup-a h4 {
  color: black;
}
.cont-com-sup-a .label-1-su {
  height: 4rem;
  border-radius: 3px;
  width: 100%;
}
.cont-com-sup-a .label-2-su {
  color: gray;
  display: flex;
  align-items: center;
}
.cont-com-sup-a .label-2-su p {
  color: #d1a513;
}
.plla {
  color: #666666;
  font-size: 35px;
}
.plla input {
  margin-right: 3rem;
}
.bodyDark .comentario-superm h4 {
  color: white;
}
.bodyDark .input-com-su {
  color: #ffffff;
}
.plla {
  direction: rtl;
  unicode-bidi: bidi-override;
}
.foto-av-txc-s {
  display: flex;
  width: 100%;
}
.foto-av-txc-s img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #000000;
  object-fit: contain;
  margin-right: 2rem;
}
.foto-av-txc-s input {
  width: 70%;
  height: 2rem;
  font-family: "Phudu", cursive;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  margin-right: 3rem;
}
.foto-av-txc-s input:focus-visible {
  outline: none;
  border-bottom: 3px solid gray;
}
.comentario-superm {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.comentario-superm img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #000000;
  object-fit: contain;
  margin-right: 1rem;
}
.txtaaassa {
  display: flex;
  align-items: center;
}
.txtaaassa h4 {
  margin: 0;
  margin-right: 2rem;
}
.esestetx {
  display: flex;
  flex-direction: column;
}
.label-3-su {
  color: gray;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.label-3-su p {
  color: #d1a513;
  margin-left: 1rem;
}
.delete-comment-su {
  background-color: #aa0000;
  border: none;
  border-radius: 10px;
  margin-left: 10rem;
  color: white;
}
.delete-comment-su:hover {
  cursor: pointer;
  background-color: #960000;
}
.bodyDark .foto-av-txc-s input {
  color: white;
}
.bodyDark .label-1-su {
  color: white;
}
.container_comentarios {
  color: #000000;
  height: 90vh;
}
.bodyDark .container_comentarios {
  color: white;
}
